<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}


    {% # Load Tailwind CSS %}
    {{ 'tailwind-output.css' | asset_url | stylesheet_tag }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {% if settings.favicon != blank %}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {% endif %}


    {{ content_for_header }}
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}
    <script async src="{{ 'gsap.min.js' | asset_url }}"></script>
    <script async src="{{ 'ScrollTrigger.min.js' | asset_url }}"></script>
  </body>
</html>
