<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Load Tailwind CSS %}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script async src="{{ 'gsap.min.js' | asset_url }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/MorphSVGPlugin.min.js"></script>
    
    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

      {% if settings.favicon %}<link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">{% endif %}


    {{ content_for_header }}

    {% comment %} <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/MorphSVGPlugin.min.js"></script> {% endcomment %}
    

    {% comment %} Main JS - loads after HTML parsing but before DOMContentLoaded {% endcomment %}
    <script defer src="{{ 'main.js' | asset_url }}"></script>

    {% # Critical CSS %}
    <link rel="stylesheet" href="{{ 'critical.css' | asset_url }}">
    
    <style>
      body {
        padding-bottom: 200px;
      }

      body:has( > .main-content >    header.open ) {
        max-height: 100svh;
        overflow: hidden;
      }
      
      .main-content {
        min-height: 100vh;
      }
    
    </style>
  </head>

  <body class="bg-white pb-[200px]">
    <div class="main-content z-20 relative">
      {% sections 'header-group' %}
      {{ content_for_layout }}
    </div>
    
    {% sections 'footer-group' %}


  </body>
</html>
