<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>  
    {% render 'meta-tags' %}
    {% render 'css-essentials' %}
    {% render 'js-gsap' %}
    {% render 'js-tailwind' %}

    <script defer src="{{ 'app.js' | asset_url }}" type="module"></script>
    {% render 'meta-favicon' %}
    {{ content_for_header }}
  </head>
  {%  render 'js-klaviyo' %}

  <body class="bg-white{% if template.name == 'index' %} home {% endif %}">
      <div class="main-content z-20 relative min-h-[100vh]">
        {% sections 'header-group' %}
        {{ content_for_layout }}
      </div>
      
      {% sections 'footer-group' %}
      {% render 'cart-drawer' %}

      {% if settings.is_black_friday %}
        {% render 'black-friday-banner' %}
      {% endif %}

      <script defer src="{{ 'splide.min.js' | asset_url }}"></script>
    <script src="{{ 'tiny-img-link-preloader.js' | asset_url }}" defer></script>
  </body>
</html>