<div class="footer-content h-48 flex flex-col justify-center items-center text-center">
  <h3 class="text-2xl font-bold mb-4">Look How They Shine</h3>
  
  <nav class="footer-nav mb-6">
    {% if section.settings.menu != blank %}
      <ul class="flex space-x-6">
        {% for link in linklists[section.settings.menu].links %}
          <li><a href="{{ link.url }}" class="hover:text-gray-300 transition-colors">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </nav>
  
  <div class="footer__payment ">
    {% if section.settings.show_payment_icons %}
      <div class="flex flex-wrap justify-center px-20 py-50 space-2 md:flew-row space-x-2 mb-4">
        {% for type in shop.enabled_payment_types %}
          {{ type | payment_type_svg_tag: class: 'h-6 w-10 fill-current' }}
        {% endfor %}
      </div>
    {% endif %}
  </div>
  
  <p class="text-sm text-gray-400">© {{ 'now' | date: '%Y' }} {{ shop.name }}. All rights reserved.</p>
</div>

{% schema %}
  {
    "name": "t:general.footer",
    "class": "footer sticky bottom-0 left-0 right-0 text-white z-10",
    "tag": "footer",
    "limit": 1,
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "t:labels.menu"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "t:labels.show_payment_icons",
        "default": true
      }
    ]
  }
{% endschema %}
