<div class="footer-content flex flex-col justify-center items-center text-center">
  <div class="w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <nav class="footer-nav mb-6 text-left">
      {% if section.settings.menu != blank %}
        <h2 class="text-black font-bold"> Legals</h2>
        <ul class="flex space-x-6">
          {% for link in linklists[section.settings.menu].links %}
            <li><a href="{{ link.url }}" class="text-black hover:text-gray-300 transition-colors">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </nav>
  </div>
  

    <div class="footer__payment">
    {% if section.settings.show_payment_icons %}
      <div class="flex flex-wrap justify-center px-0 md:px-20 space-2 md:flew-row space-x-2 mb-4">
        {% for type in shop.enabled_payment_types %}
          {{ type | payment_type_svg_tag: class: 'h-3 w-5 fill-current' }}
        {% endfor %}
      </div>
    {% endif %}
</div>
  <p class="text-xs text-black pb-3">© {{ 'now' | date: '%Y' }} {{ shop.name }}. All rights reserved.</p>
</div>

{% style %}
  /* .footer__payment {
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: invert(1) brightness(0.8);
    -webkit-backdrop-filter: invert(1) brightness(0.8);
    padding: 1rem;
    border-radius: 8px;
    margin: 1rem 0;
  } */

  /* .footer__payment svg {
    filter: brightness(0) invert(0);
  } */

  /* .footer__payment::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    z-index: -1;
  } */
{% endstyle %}

{% schema %}
  {
    "name": "t:general.footer",
    "class": "footer sticky bottom-0 left-0 right-0 text-white z-10",
    "tag": "footer",
    "limit": 1,
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "t:labels.menu"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "t:labels.show_payment_icons",
        "default": true
      }
    ]
  }
{% endschema %}